 * {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px;
}

/*header*/
.header-container {
  align-items: center;
  background-color: #322A30;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0px 25px;
}

.h1-ideabox,
.h1-triples,
.title-output {
 font-weight: 800;
}

.h1-ideabox {
  color: #B2A1B1;
  font-size: 3.7em;
}

.h1-triples {
  color: #FFFFFF;
  padding-left: 10px;
}

.search-container {
  align-items: center;
  display: flex;
  width: 460px;
}

.search-bar-input {
  border: 2px solid #C2C1C0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 2em;
  height: 42px;
  outline: none;
  width: 560px;
}

.search-bar-btn {
  background-color: #ADAAB6;
  border-bottom-right-radius: 6px;
  border-left-style: none;
  border-top-right-radius: 6px;
  height: 42px;
}

.fa-search {
  color: #FFFFFF;
  font-size: 2em;
  height: 37px;
  padding-top: 3px;
  width: 37px;
}

/*input fields*/
.inputs-container {
  background-color: #EBF2F2;
}

.form-container {
  margin: auto;
  padding: 20px 0;
  width: 600px;
}

.title-input,
.body-input {
  border: 2px solid #C2C1C0;
  border-radius: 6px;
  color: #6E646B;
  font-size: 1.5em;
  height: 42px; 
  margin: 5px 0 30px 0;
  outline-color: #322A30;
  padding-left: 20px;
  width: 100%;
}

.title {
  margin-top: 50px;
}

.body-input {
  height: 126px;
  padding-right: 20px;
  resize: none;
}

.form-labels {
  color: #6E646B;
  font-size: 2rem;
}

.save-btn,
.show-buttons {
  background-color: #6E646B;
  border-radius: 6px;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 800; 
  height: 42px;
  width: 100%;
}

.save-btn:hover {
  background-color: #524649; 
}

.save-btn:disabled {
  background-color: #C2C1C0;
}

/*cards*/
.cards-container {
  align-items: center;
  background-color: #FBFDFD;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0;
  width: 600px;
}

.idea-card {
  border: 2px solid #C2C1C0;
  border-radius: 6px;
  margin-bottom: 10px;
  width: 600px;
}

.title-output {
  color: #6E646B;
}

.quality-icons {
  margin-right: 10px;
  width: 25px;
}

.quality-container {
  align-items: center;
  border-top: 2px solid #C2C1C0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-quality-container {
  align-items: center;
  display: flex;
  width: 240px;
}

.output-container {
  padding: 0px 20px 20px 20px;
}

.quality-header {
  color: #6E646B;
  font-size: 18px;
  font-weight: 400;
}

.filter-buttons-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 600px;
  margin: auto;
}

.filter-buttons {
  background-color: #B2A1B1;
  color: #FFFFFF;
  font-weight: 600;
  border-radius: 6px;
  width: 150px;
  outline: none;
  height: 28px;
}

.swill-button {
  margin: 0px 50px;
}

.top-row {
  margin-bottom: 15px;
}

.bottom-row {
  margin-bottom: 20px;
}

.show-more-features {
  display: flex;
  background-color: #FBFDFD;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  margin: auto;
}

.more-less-toggle {
  display: none;
}

.max-height {
  max-height: 1728px;
  overflow: hidden;
}

.show-buttons-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 600px;
}

.show-buttons {
  background-color: #B2A1B1; 
  width: 100%;
  margin: 8px 0 ;
  outline-color: #B2A1B1;
}

@media screen and (max-width: 1150px) {
  .header-container {
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    padding: 0px;
  }
  .h1-ideabox {
    margin: 0px;
  }
  .form-container,
  .idea-card,
  .filter-buttons-container,
  .show-buttons-container {
    width: 460px;
  }

  .filter-buttons {
    width: 40%;
    margin: 0 0 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .form-container,
  .search-container,
  .idea-card,
  .filter-buttons-container,
  .show-buttons-container {
    width: 80%;
  }
  .search-bar-input,
  .cards-container {
    width: 100%;
  }
  .h1-ideabox {
    font-size: 10vw;
  }
}
