 * {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/*header*/
.header-container {
  background-color: #322A30;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 25px;
}

.h1-idea {
  font-size: 3.7em;
  font-weight: 800;
  color: #B2A1B1;
}

.h1-triples {
  padding-left: 10px;
  font-weight: 800;
  color: #FFFFFF;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar-btn {
  background-color: #ADAAB6;
  height: 42px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left-style: none;
}

.search-bar-input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 2em;
  height: 42px;
  width: 500px;
  border: 2px solid #C2C1C0;
}

.fas {
  padding-top: 3px;
  color: #FFFFFF;
  height: 37px;
  width: 37px;
  font-size: 2em;
}

/*input fields*/
.inputs-container {
  background-color: #EBF2F2;
}

.form-container {
  width: 600px;
  margin: auto;
  padding: 20px 0;
}

.title-input,
.body-input {
  margin: 5px 0 30px 0;
  width: 100%;
  height: 42px; 
  border-radius: 6px;
  border: 2px solid #C2C1C0;
}

.title {
  margin-top: 50px;
}

.body-input {
  height: 126px;
}

.form-labels {
  font-size: 2rem;
  color: #6E646B;
}

.save-btn {
  background-color: #6E646B;
  width: 100%;
  border-radius: 6px;
  color: #FFFFFF;
  height: 42px;
  font-size: 1.5em;
  font-weight: 800; 
}

/*cards*/
.cards-container {
  background-color: #FBFDFD;
  width: 600px;
  margin: auto;
  padding: 20px 0;
}

.idea-card {
  border: 2px solid #C2C1C0;
  border-radius: 6px;
}

.title-output {
  font-weight: 800;
  color: #6E646B;
}

.quality-icons {
  width: 25px;
}

.quality-container {
  align-items: center;
  border-top: 2px solid #C2C1C0;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.left-quality-container {
  align-items: center;
  display: flex;
  width: 200px;
  justify-content: space-between;
}

.output-container {
  padding: 0px 20px 20px 20px;
}

.quality-header {
  font-weight: 400;
  color: #6E646B;
  font-size: 18px;
}
